.folders-container {
  max-width: 1200px;
  background-color: #000;
  color: #fff;
  padding: 20px;
  margin: 0 auto;
}

.months-dropdown {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  appearance: none;
}

.months-dropdown:focus {
  outline: none;
}

.description-container {
  margin-top: 20px;
}

.description-container p {
  margin-top: 5px;
  font-size: 16px;
  color: #b3b3b3;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  animation: fadeIn ease-in 1s; /* Ease in animation for the paragraph */
}

.description-container p.hidden {
  display: none;
}

.dropdown-icon {
  margin-right: 5px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
