.hero-container {
  background-color: #000;
  color: #fff;
  padding: 20px;
}

.intro-section {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.intro-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.main-heading {
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #1db954;
}

.intro-section p {
  font-size: 16px;
  line-height: 1.6;
  animation: fadeIn ease-in 1s; /* Ease in animation for the paragraph */
}

@media screen and (min-width: 768px) {
  .main-heading {
    font-size: 48px;
  }

  .intro-section p {
    font-size: 20px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
